body {
  color: #323232;
}
header a {
  color: #323232;
}
nav a {
  color: #323232;
}
.projects details {
  background-color: rgba(232, 232, 232, 1);
}
.skills {
  border-bottom: solid 0.1px #323232;
}
nav a:hover {
  color: #8ac778;
}
button {
  background-color: #8ac778;
  color: #fff;
  transition: color 0.3s, background-color 0.3s;
}
button:hover {
  color: #8ac778;
  background-color: #fff;
}
