body {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 928px;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Proza Libre', sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  text-decoration: none;
}
nav li {
  display: inline-block;
}
nav li:not(:last-child) {
  margin-right: 16px;
}
nav a {
  text-decoration: none;
  transition: color 0.3s;
}
.about-me {
  display: flex;
  align-items: center;
}
.about-me img {
  display: block;
  width: 300px;
  height: 310px;
  margin-left: 16px;
  border-radius: 15px;
}
.projects details {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 0 10px 50px;
}
summary {
  display: inline-block;
  cursor: pointer;
}
.projects h3 {
  margin: 7px;
}
.projects img {
  display: block;
  width: 95%;
}
.skills {
  padding-bottom: 20px;
}
.skills-img-container {
  display: flex;
  justify-content: space-between;
}
.skills-img-container img {
  display: block;
  width: 35px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.heart img {
  width: 15px;
  height: 15px;
}

/* Contacts page */

.contacts-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  padding: 15px;
}
.contacts-main img {
  width: 150px;
}
.contact-links {
  display: flex;
}
.contact-links img {
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
  transition: width 0.4s ease-out;
}
.contact-links img:hover {
  width: 60px;
}

/* change color theme */

button {
  font-family: 'Proza Libre', sans-serif;
  font-weight: bold;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* pop-up window */

.b-popup {
  width: 100%;
  min-height: 100%;
  background-color: #00000080;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
.b-popup .b-popup-content {
  margin: auto;
  margin-top: 15%;
  width: 250px;
  height: auto;
  padding: 10px;
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000;
}
.b-popup a {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #323232;
}
.b-popup p {
  display: block;
  color: #788ec7;
  font-size: 12px;
  width: 15%;
  margin-left: 80%;
  transition: color 0.4s;
}
.b-popup p:hover {
  color: #4f1c1c;
  cursor: pointer;
}

/* responsive styles */

@media (max-width: 1312px) {
  header {
    flex-direction: column;
  }
  h1 {
    margin-bottom: 0;
  }
  nav {
    margin-bottom: 15px;
  }
}
@media (max-width: 965px) {
  body {
    margin: 0 20px 0 20px;
  }
  nav {
    margin-bottom: 0;
  }
  ul {
    margin-bottom: 0;
  }
  main {
    margin-top: 15px;
  }
}
@media (max-width: 600px) {
  nav li {
    font-size: 12px;
  }
  button {
    width: 100%;
    font-size: 9px;
    font-weight: normal;
    padding: 5px;
  }
  .about-me {
    flex-direction: column;
  }
  .projects details {
    padding: 10px 25px;
  }
}
@media (max-width: 423px) {
  nav {
    width: 100%;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
  }
} ;
